# Ignore virtual environment
env/
venv/
.venv/
ENV/

# Ignoring rough work
rough.ipynb

# Ignoring some helper scripts
pdf_to_image.py

# Currently ignoring sketchformer materials
sketch-transformer-tf2-cvpr_tform_cont/
sketchformer_dataset/
sketchformer-master/
sketchformer_master/
transformer-inference/
#id_mapping_sketchformer.json
#pngs_to_continuous_strokes.py
#search_query_sketchformer.py
#sketchformer_embeddings.npy
#sketchformer_index_mapping.json
#sketchformer_index.faiss
#store_sketchformer_embeddings_faiss.py
token.secret
#extract_sketchformer_embeddings.py

# Ignoring sketches files
input_pdf/
input_png/

# Ignoring metafiles
*.pyc
*.cpython
*.ipynb