# Ignore virtual environment
env/
venv/
.venv/
ENV/

# Ignoring rough work
rough.ipynb

# Ignoring some helper scripts
pdf_to_image.py
file_conversion.ipynb

id_mapping.json
sketch_index.faiss

# Currently ignoring sketchformer materials
sketch-transformer-tf2-cvpr_tform_cont/
sketchformer_dataset/
sketchformer-master/
sketchformer_master/
transformer-inference/
token.secret

# Ignoring pretrained weights
*.bin
*Zone.Identifier

# Ignoring sketches files
inputs/
query_pdf/
query_png/
preprocessed/
preprocessed_query_png/
augmented/
latest_details/
clip/temp_image.png

# Ignoring metafiles
*.pyc
*.cpython